{% extends 'default.html' %}

{% block title %}
{% endblock title %}

{% block content %}
    <h4 style="text-align: center">{{ announcement.title }}<br><br></h4>
    {% if user.is_authenticated %}
        <button class="btn btn-info ms-3 me-md-auto" type="button">
            <a class="nav-link" href="http://127.0.0.1:8000/announcements/respond/create/">Откликнуться</a>
        </button>
    {% endif %}
    <h5 style="padding-left: 20px"><br>{{ announcement.pub_date|date:'d M Y' }}</h5>
    <hr>
    <h5 style="padding-left: 20px">Категория: {{ announcement.category.name }}<br><br></h5>
    <h5 style="padding-left: 20px">{{ announcement.text }}</h5>
{% endblock content %}
